<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="DomainSpecificSettings">
      <section name="SWNA"
         type="System.Configuration.NameValueSectionHandler" />
      <section name="EMEA"
         type="System.Configuration.NameValueSectionHandler" />
      <section name="APAC"
         type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="DateFormats">
      <section name="SWNA"
         type="System.Configuration.NameValueSectionHandler" />
      <section name="EMEA"
         type="System.Configuration.NameValueSectionHandler" />
      <section name="APAC"
         type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.DB2.iSeries" publicKeyToken="9cdb2ebfb1f93a26"/>
        <bindingRedirect oldVersion="10.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <DomainSpecificSettings>
    <!-- Domain specific settings and "feature switches" (Yes/No) -->
    <EMEA>
      <add key="IsVATRequired" value="Yes"/>
      <add key="AreStageSetDatesChangeable" value="No"/>
      <add key="IsLandingFactorRequiredForRoadDelivery" value="No"/>
      <add key="IsStyleNumberInputRequired" value="No"/>
      <add key="IsPromoCodeMandatory" value="Yes"/>
      <add key="IsCompositionCodeEditable" value="Yes"/>
      <add key="IsCommodityCodeEditable" value="Yes"/>
      <add key="PreSelectAllMarkets" value="No"/>
      <add key="ShowListPrice" value="No"/>
      <add key="AllowUPCInput" value="No"/>
      <add key="DisplayFreightCharges" value="No"/>
      <add key="LocalLanguage" value="English"/>
      <add key="DisplayPOHitsCancelDateWithDayFormat" value="No"/>
      <add key="DaysBetweenShipDateAndCancelDate" value="0"/>
      <add key="DefaultVATCode" value="Z"/>
    </EMEA>
    <SWNA>
      <add key="IsVATRequired" value="No"/>
      <add key="AreStageSetDatesChangeable" value="Yes"/>
      <add key="IsLandingFactorRequiredForRoadDelivery" value="Yes"/>
      <add key="IsStyleNumberInputRequired" value="Yes"/>
      <add key="IsPromoCodeMandatory" value="No"/>
      <add key="IsCompositionCodeEditable" value="No"/>
      <add key="IsCommodityCodeEditable" value="No"/>
      <add key="PreSelectAllMarkets" value="Yes"/>
      <add key="ShowListPrice" value="Yes"/>
      <add key="AllowUPCInput" value="Yes"/>
      <add key="DisplayFreightCharges" value="Yes"/>
      <add key="LocalLanguage" value="English"/>
      <add key="DisplayPOHitsCancelDateWithDayFormat" value="Yes"/>
      <add key="DaysBetweenShipDateAndCancelDate" value="6"/>
      <add key="DefaultVATCode" value="Z"/>
    </SWNA>
    <APAC>
      <add key="IsVATRequired" value="Yes"/>
      <add key="AreStageSetDatesChangeable" value="Yes"/>
      <add key="IsLandingFactorRequiredForRoadDelivery" value="Yes"/>
      <add key="IsStyleNumberInputRequired" value="Yes"/>
      <add key="IsPromoCodeMandatory" value="No"/>
      <add key="IsCompositionCodeEditable" value="Yes"/>
      <add key="IsCommodityCodeEditable" value="No"/>
      <add key="PreSelectAllMarkets" value="No"/>
      <add key="ShowListPrice" value="Yes"/>
      <add key="AllowUPCInput" value="Yes"/>
      <add key="DisplayFreightCharges" value="Yes"/>
      <add key="LocalLanguage" value="Chinese"/>
      <add key="DisplayPOHitsCancelDateWithDayFormat" value="Yes"/>
      <add key="DaysBetweenShipDateAndCancelDate" value="6"/>
      <add key="DefaultVATCode" value="S"/>
    </APAC>
  </DomainSpecificSettings>

  <DateFormats>
    <EMEA>      
      <add key="ItemManagement_DatePickerFormat" value="dd/MMM/yyyy"/>
      <add key="PO_CancelDate" value="d MMMM yyyy"/>
      <add key="PO_ShipDate" value="d MMMM yyyy"/>      
      <add key="PO_AnticipateDate" value="d MMMM yyyy"/>
      <add key="PO_OrderDate" value="d MMMM yyyy"/>
    </EMEA>
    <SWNA>
      <add key="ItemManagement_DatePickerFormat" value="MM/dd/yyyy"/>
      <add key="PO_CancelDate" value="MMMM d, yyyy"/>
      <add key="PO_ShipDate" value="MMMMd,  yyyy"/>
      <add key="PO_AnticipateDate" value="MMMMd,  yyyy"/>
      <add key="PO_OrderDate" value="MMMM d,  yyyy"/>
    </SWNA>
    <APAC>
      <add key="ItemManagement_DatePickerFormat" value="yyyy/MM/dd"/>
      <add key="PO_CancelDate" value="yyyy, MMMM d"/>
      <add key="PO_ShipDate" value="yyyy, MMMMd"/>
      <add key="PO_AnticipateDate" value="yyyy, MMMMd"/>
      <add key="PO_OrderDate" value="yyyy, MMMM d"/>
    </APAC>
  </DateFormats>
  
  <appSettings>
    <add key="HideLocalLanguageFields" value="Yes"/>
       
  </appSettings>
  
  
</configuration>



  

  
  
  
    



